@using CemSys.Models.ViewModel;
@model VMFosas
<div class="main-content">
    <h1>Administrar fosas de la sección @Model.seccion.Nombre.ToUpper()</h1>


    @if (Model.ABMRepositoryVM?.Lista.Count == 0)
    {
        <p>No hay datos para mostrar</p>
    }
    else
    {
        <div class="card shadow-sm">
            <div class="card-body p-0">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>fosa</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.ABMRepositoryVM != null)
                        {
                            @foreach (var opc in Model.ABMRepositoryVM.Lista)
                            {
                                <tr>

                                    <td>@opc.NroFosa</td>
                                    @if (opc.Difuntos == 0)
                                    {
                                        <td>Desocupado</td>
                                    }
                                    else
                                    {
                                        <td>Ocupado</td>
                                    }

                                </tr>


                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>
        <p>@ViewData["MensajeEmitir"]</p>
    }

</div>
