<div class="container mt-5">
    <div class="card shadow-sm">
        <div class="card-header custom-bg">
            <h4 class="mb-0">Configuración de CemSys</h4>
        </div>
        <div class="card-body">

            <!-- Sección TIPOS -->
            <h5 class="mb-4">TIPOS</h5>
            <div class="row mb-3">
                <div class="col">
                    <a asp-action="TipoNicho" asp-controller="Configuracion" class="btn btn-cemsys square-btn">
                        <i class="bi bi-bricks"></i>
                        Nichos
                    </a>
                </div>
                <div class="col">
                    <a asp-action="TipoNumeracionParcela" asp-controller="Configuracion" class="btn btn-cemsys square-btn">
                        <i class="bi bi-123"></i>
                        Numeración de Parcelas
                    </a>
                </div>
                <div class="col">
                    <a asp-action="TipoCategoriaPersona" asp-controller="Configuracion" class="btn btn-cemsys square-btn">
                        <i class="bi bi-person-standing-dress"></i>
                        Categoría de Personas
                    </a>
                </div>
                <div class="col">
                    <a asp-action="TipoUsuario" asp-controller="Configuracion" class="btn btn-cemsys square-btn">
                        <i class="bi bi-person-check"></i>
                        Usuarios
                    </a>
                </div>
            </div>

            <!-- Sección SECCIONES -->
            <h5 class="mb-4">SECCIONES</h5>
            <div class="row">
                <div class="col">
                    <a asp-action="SeccionesNichos" asp-controller="Configuracion" class="btn btn-cemsys square-btn">
                        <i class="bi bi-bricks"></i>
                        Nichos
                    </a>
                </div>
                <div class="col">
                    <a asp-action="SeccionesFosas" asp-controller="Configuracion" class="btn btn-cemsys square-btn">
                        <i class="bi bi-water"></i> 
                        Fosas
                    </a>
                </div>
                <div class="col">
                    <a asp-action="Panteones" asp-controller="Configuracion" class="btn btn-cemsys square-btn">
                        <i class="bi bi-house-door"></i> 
                        Panteones
                    </a>
                </div>
                
            </div>

            <h5 class="mb-4">Usuarios</h5>
            <div class="col">
                <a asp-action="Usuario" asp-controller="Configuracion" class="btn btn-cemsys square-btn">
                    <i class="bi bi-house-door"></i>
                    Administar usuarios
                </a>
            </div>
            

        </div>
    </div>
</div>

