<h1>Configuración CemSys corriendo</h1>
<nav>
    <ul>
        <li><a asp-action="TipoNicho" asp-controller="Configuracion">Tipos de nichos</a></li>
        <li><a asp-action="TipoNumeracionParcela" asp-controller="Configuracion">Tipos de numeración de parcelas</a></li>
        <li><a asp-action="TipoCategoriaPersona" asp-controller="Configuracion">Tipo categoria de personas</a></li>
        <li><a asp-action="TipoUsuario" asp-controller="Configuracion">Tipos de usuarios</a></li>
        <li><a asp-action="SeccionesNichos" asp-controller="Configuracion">Secciones nichos</a></li>
        <li><a asp-action="SeccionesFosas" asp-controller="Configuracion">Secciones fosas</a></li>
        <li><a asp-action="Panteones" asp-controller="Configuracion">Panteones</a></li>


