<div class="container mt-5 d-flex justify-content-center">
    <div class="card shadow-sm w-100">
        <div class="card-header custom-bg">
            <h4 class="mb-0 configuracion-cemsys">Configuración de CemSys</h4>
        </div>
        <div class="card-body">

            <!-- TIPOS -->
            <h5 class="mb-4">TIPOS</h5>
            <div class="row row-cols-1 row-cols-md-5 g-3 mb-5">
                <div class="col">
                    <a asp-action="TipoNicho" asp-controller="Configuracion" class="btn btn-configuracion-cemsys square-btn d-flex flex-column align-items-center">
                        <i class="bi bi-bricks icono-configuracion mb-2"></i>
                        <span>Nichos</span>
                    </a>
                </div>
                <div class="col">
                    <a asp-action="TipoNumeracionParcela" asp-controller="Configuracion" class="btn btn-configuracion-cemsys square-btn d-flex flex-column align-items-center">
                        <i class="bi bi-123 mb-2"></i>
                        <span>Numeración de Parcelas</span>
                    </a>
                </div>
                <div class="col">
                    <a asp-action="TipoCategoriaPersona" asp-controller="Configuracion" class="btn btn-configuracion-cemsys square-btn d-flex flex-column align-items-center">
                        <i class="bi bi-person-arms-up mb-2"></i>
                        <span>Categoría de Personas</span>
                    </a>
                </div>
                <div class="col">
                    <a asp-action="TipoUsuario" asp-controller="Configuracion" class="btn btn-configuracion-cemsys square-btn d-flex flex-column align-items-center">
                        <i class="bi bi-person mb-2"></i>
                        <span>Usuarios</span>
                    </a>
                </div>
                <div class="col">
                    <a asp-action="EstadoDifunto" asp-controller="Configuracion" class="btn btn-configuracion-cemsys square-btn d-flex flex-column align-items-center">
                        <i class="bi bi-person-exclamation mb-2"></i>
                        <span>Estado Difunto</span>
                    </a>
                </div>
            </div>

            <!-- SECCIONES -->
            <h5 class="mb-4">SECCIONES</h5>
            <div class="row row-cols-1 row-cols-md-3 g-3 mb-5">
                <div class="col">
                    <a asp-action="SeccionesNichos" asp-controller="Configuracion" class="btn btn-configuracion-cemsys square-btn d-flex flex-column align-items-center">
                        <i class="bi bi-bricks"></i>
                        <span>Nichos</span>
                    </a>
                </div>
                <div class="col">
                    <a asp-action="SeccionesFosas" asp-controller="Configuracion" class="btn btn-configuracion-cemsys square-btn d-flex flex-column align-items-center">
                        <i class="bi bi-water"></i>
                        <span>Fosas</span>
                    </a>
                </div>
                <div class="col">
                    <a asp-action="SeccionesPanteones" asp-controller="Configuracion" class="btn btn-configuracion-cemsys square-btn d-flex flex-column align-items-center">
                        <i class="bi bi-house-door"></i>
                        <span>Panteones</span>
                    </a>
                </div>
            </div>

            <h5 class="mb-4">USUARIOS</h5>
            <div class="row g-3 justify-content-start">
                <div class="col-auto">
                    <a asp-action="Usuario" asp-controller="Configuracion" class="btn btn-configuracion-cemsys square-btn btn-small d-flex flex-column align-items-center">
                        <i class="bi bi-person-gear mb-2"></i>
                        <span>Administrar Usuarios</span>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>
